In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [2]:
username = 'sicooperative'
password = 'admin'
host     = 'localhost'
database = 'sicooperative'

In [3]:
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'

In [4]:
engine = create_engine(connection_string)

In [5]:
df = pd.read_csv('../../data/movimentos.csv')

In [6]:
df

,id_movimento,vlr_transacao_movimento,descricao_transacao_movimento,data_movimento,id_cartao
0,1,151.55,Academia - Mensalidade,2020-01-01,132
1,2,458.92,Academia - Mensalidade,2020-01-01,5
2,3,215.90,E-commerce - Compra online,2020-01-01,229
3,4,429.70,Supermercado - Compra de alimentos,2020-01-01,211
4,5,236.52,Posto de Gasolina - Abastecimento,2020-01-01,163
...,...,...,...,...,...
188795,188796,239.47,Farmácia - Medicamentos,2025-03-02,198
188796,188797,359.34,Academia - Mensalidade,2025-03-02,48
188797,188798,299.79,Cinema - Ingresso,2025-03-02,107
188798,188799,354.85,Cinema - Ingresso,2025-03-02,74
188799,188800,228.89,Supermercado - Compra de alimentos,2025-03-02,226

In [7]:
if 'id_movimento' in df.columns:

    df = df.drop(columns=['id_movimento'])

In [8]:
df.to_sql(name='movimento', con=engine, if_exists="append", index=False)

188800