In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [2]:
username = 'sicooperative'
password = 'sicooperative'
host     = 'localhost'
database = 'sicooperative'

In [3]:
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'

In [4]:
engine = create_engine(connection_string)

In [6]:
df = pd.read_csv('../data/cartoes.csv')

In [9]:
df

        numero_cartao   nome_impresso_cartao  id_conta
0    7269387609542645           CALEBE SILVA       148
1    1898576762220121          CAUÊ MONTEIRO       142
2    1251737351627617           CAIO CARDOSO        76
3    8220865092674455           BRENO FARIAS        22
4    3001194374676302         ISABELLA MOURA        65
..                ...                    ...       ...
245  3276822726568180            SOFIA CUNHA         1
246  1611437037361787           CAIO CARDOSO       129
247  9582698405144232   JOÃO GUILHERME LOPES       121
248  2031512240544406  LUIZ HENRIQUE REZENDE        42
249  2543014955094122  LUIZ HENRIQUE REZENDE        42

[250 rows x 3 columns]

In [8]:
if 'id_cartao' in df.columns:

    df = df.drop(columns=['id_cartao'])

In [10]:
df.to_sql(name='cartao', con=engine, if_exists="append", index=False)

250