In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [2]:
username = 'sicooperative'
password = 'sicooperative'
host     = 'localhost'
database = 'sicooperative'

In [3]:
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'

In [4]:
engine = create_engine(connection_string)

In [5]:
df = pd.read_csv('../data/contas.csv')

In [6]:
df

     id_conta    tipo_conta   data_criacao_conta  id_associado
0           1      poupança  2024-11-19 04:47:07            57
1           2       salário  2022-07-06 07:52:40            28
2           3      poupança  2024-05-12 16:15:28            66
3           4      corrente  2020-05-17 01:44:45            86
4           5      poupança  2024-01-11 08:03:24            94
..        ...           ...                  ...           ...
145       146       salário  2021-01-20 12:10:32            46
146       147      corrente  2023-05-28 07:27:38            77
147       148      poupança  2024-01-29 15:14:08            48
148       149  investimento  2021-09-23 22:43:23            52
149       150       salário  2023-02-27 16:35:09            77

[150 rows x 4 columns]

In [7]:
if 'id_conta' in df.columns:

    df = df.drop(columns=['id_conta'])

In [8]:
df.to_sql(name='conta', con=engine, if_exists="append", index=False)

150