In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [2]:
username = 'sicooperative'
password = 'sicooperative'
host     = 'localhost'
database = 'sicooperative'

In [3]:
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'

In [4]:
engine = create_engine(connection_string)

In [5]:
df = pd.read_csv('../data/associados.csv')

In [6]:
df

,id_associado,nome_associado,sobrenome_associado,idade_associado,email_associado
0,1,Luiz Henrique,Castro,46,luizhenrique.castro@sicooperative.com.br
1,2,Maria Eduarda,Jesus,36,mariaeduarda.jesus@sicooperative.com.br
2,3,Joaquim,Cardoso,62,joaquim.cardoso@sicooperative.com.br
3,4,Luiz Otávio,da Mata,53,luizotávio.damata@sicooperative.com.br
4,5,Lorena,Dias,72,lorena.dias@sicooperative.com.br
...,...,...,...,...,...
95,96,Luiz Henrique,Rezende,80,luizhenrique.rezende@sicooperative.com.br
96,97,Ana Carolina,Freitas,42,anacarolina.freitas@sicooperative.com.br
97,98,Larissa,da Cunha,31,larissa.dacunha@sicooperative.com.br
98,99,Milena,Jesus,58,milena.jesus@sicooperative.com.br
99,100,Nicole,Lopes,35,nicole.lopes@sicooperative.com.br

In [7]:
if 'id_associado' in df.columns:

    df = df.drop(columns=['id_associado'])

In [8]:
df.to_sql(name='associado', con=engine, if_exists="append", index=False)

100